body {
  font: "Roboto", sans-serif;
  color: #383838; }
  body.no-scroll {
    overflow: hidden; }

h1, h2, h3, h4, h5, h6, p, ul, ol, li, a, button, input {
  font-family: "Roboto", sans-serif; }

p {
  font-size: 1.8rem; }

ul, ol {
  list-style: none;
  font-family: "Roboto", sans-serif; }

p {
  font-size: 1.8rem; }

a {
  text-decoration: none;
  color: inherit; }
  a:hover {
    text-decoration: none;
    color: inherit; }

.main-header {
  position: relative; }
  .main-header .logo-area, .main-header .main-nav {
    display: inline-block;
    position: relative; }
  .main-header .logo-area {
    float: left;
    line-height: 5;
    vertical-align: middle; }
  .main-header .main-nav {
    padding: 2.5rem 0rem;
    float: right; }
    .main-header .main-nav .menu-items {
      margin-bottom: 0rem;
      margin-left: 0rem;
      padding-left: 0rem; }
    .main-header .main-nav .menu-item {
      display: inline-block;
      position: relative;
      text-transform: uppercase;
      font-size: 1.7rem;
      margin-right: 2rem;
      -webkit-transition: all .5s ease;
      transition: all .5s ease; }
      .main-header .main-nav .menu-item:last-child {
        margin-right: 0rem; }
      .main-header .main-nav .menu-item:hover {
        color: #ba1516; }

.hero.hero-frontpage {
  text-align: center;
  display: block;
  position: relative;
  background: #1e2136;
  color: white; }
  .hero.hero-frontpage .hero-info {
    padding-top: 14rem;
    padding-bottom: 10rem;
    max-width: 60rem;
    margin-left: auto;
    margin-right: auto; }
    .hero.hero-frontpage .hero-info h1 {
      text-transform: uppercase;
      font-weight: 400;
      font-size: 3.6rem; }
    .hero.hero-frontpage .hero-info p {
      font-size: 1.6rem; }
    .hero.hero-frontpage .hero-info button {
      background: none;
      outline: none;
      border: 1px solid white;
      border-radius: 3px;
      padding: 1rem 4rem;
      margin-top: 3rem;
      font-size: 1.6rem;
      -webkit-transition: all .5s ease;
      transition: all .5s ease; }
      .hero.hero-frontpage .hero-info button:hover {
        background: #ba1516;
        border-color: #ba1516; }

.toggle-nav {
  display: none;
  max-width: 2rem;
  width: 4rem;
  position: absolute;
  top: 50%;
  cursor: pointer;
  -webkit-transform: translate(0%, -50%);
          transform: translate(0%, -50%);
  right: 0px; }
  .toggle-nav .nav-line {
    width: 100%;
    height: 1px;
    background: #939393;
    margin-bottom: 3px;
    width: 100%; }

.close-menu {
  display: none;
  cursor: pointer; }

.carousel-control.left, .carousel-control.right {
  background-image: none;
  background: none; }
  .carousel-control.left img, .carousel-control.right img {
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto; }

.main-features {
  margin-top: 10rem;
  position: relative; }
  .main-features .image {
    display: block;
    position: relative;
    overflow: hidden;
    border-right: 50rem; }
  .main-features .main-frame {
    overflow: hidden !important;
    max-width: 90%;
    border-radius: 50rem;
    background: #d9d9d9;
    position: relative; }
    .main-features .main-frame:before {
      content: '';
      padding-top: 100%;
      display: block;
      background: gray;
      width: 100%; }
    .main-features .main-frame img {
      max-width: 100%;
      display: block;
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      margin: auto;
      border-radius: 50rem; }
    .main-features .main-frame:hover .overlay {
      margin-top: 0%; }
  .main-features .overlay {
    background: #383838;
    background: rgba(56, 56, 56, 0.8);
    color: white;
    text-align: center;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    -webkit-transition: margin-top .5s ease;
    transition: margin-top .5s ease;
    margin-top: 120%;
    border-radius: 50rem; }
    .main-features .overlay .fa {
      font-size: 6rem; }
    .main-features .overlay .overlay-inner {
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transition: color .5s ease;
      transition: color .5s ease;
      -webkit-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%); }
      .main-features .overlay .overlay-inner .fa {
        margin-top: 1rem; }
  .main-features .presentation-text {
    text-align: center;
    padding-top: 22rem;
    padding-bottom: 20rem;
    background: #d9d9d9;
    background-image: url(../img/newyork.jpg);
    background-size: cover;
    background-position: center center; }
    .main-features .presentation-text h1 {
      text-transform: uppercase; }
    .main-features .presentation-text h3 {
      font-weight: 400;
      font-style: italic;
      color: #585858; }
    .main-features .presentation-text p {
      margin-top: 3.5rem; }
    .main-features .presentation-text .presentation-inner {
      max-width: 100rem;
      margin-left: auto;
      margin-right: auto; }

.articles {
  margin-top: 14rem;
  margin-bottom: 15rem; }
  .articles .article-title {
    font-weight: 400; }
  .articles .article-summary {
    display: block;
    position: relative; }
    .articles .article-summary:before {
      content: '';
      display: block;
      position: relative;
      width: 100%;
      height: 1px;
      background: #d9d9d9;
      margin-top: 1rem;
      margin-bottom: 1rem; }
  .articles .read-more-btn {
    background: #f10103;
    color: white;
    width: 100%;
    padding: 1rem 0rem;
    -webkit-transition: background .5s ease;
    transition: background .5s ease; }
    .articles .read-more-btn:hover {
      background: #ba1516; }
  .articles .date .fa {
    margin-right: 1rem; }

.masonry {
  background: #ebebeb;
  padding-top: 10rem;
  padding-bottom: 10rem; }

.grid .grid-item {
  display: inline-block;
  width: 25%; }
  .grid .grid-item img {
    max-width: 100%; }

.grid .grid-item--width2 {
  width: 50%; }

.section-intro {
  margin-bottom: 6rem;
  max-width: 70rem;
  margin-left: auto;
  margin-right: auto;
  width: 90%; }
  .section-intro h2 {
    text-transform: uppercase; }
  .section-intro h4 {
    font-style: italic;
    opacity: .7; }

.main-footer {
  background: #140e0f;
  color: white;
  padding-top: 5rem; }
  .main-footer .footer-logo {
    max-width: 20rem;
    margin-bottom: 3rem; }
    .main-footer .footer-logo img {
      max-width: 100%; }
  .main-footer .description {
    max-width: 60rem; }
    .main-footer .description p {
      opacity: .7;
      font-size: 1.6rem; }
  .main-footer .footer-copyright {
    text-align: center;
    font-weight: 400;
    font-size: 1.6rem;
    background: rgba(0, 0, 0, 0.5);
    padding: 1rem 1rem;
    margin-top: 4rem; }
    .main-footer .footer-copyright h4 {
      opacity: .8;
      font-size: 1.4rem; }
  .main-footer .menu-title {
    opacity: .7; }
  .main-footer .menu-items {
    padding-left: 0rem;
    margin-left: 0rem; }
    .main-footer .menu-items .menu-item {
      line-height: 2.2;
      -webkit-transition: all .5s ease;
      transition: all .5s ease; }
      .main-footer .menu-items .menu-item:hover {
        margin-left: 1rem; }

#main-logo {
  height: 3.5rem; }

@media screen and (max-width: 1199px) {
  .main-features .presentation-text {
    padding-top: 13rem;
    padding-bottom: 10rem; } }

@media screen and (max-width: 991px) {
  .main-header .logo-area #main-logo {
    height: 2.2rem; }
  .hero.hero-frontpage .hero-info {
    padding-top: 9rem;
    padding-bottom: 7rem; }
    .hero.hero-frontpage .hero-info h1 {
      font-size: 3.2rem; }
  .carousel-control {
    width: 7%; }
  .presentation-images .image {
    max-width: 40rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 7rem; }
  .main-features .main-frame {
    margin-left: auto;
    margin-right: auto; }
  .main-features .presentation-text {
    padding-top: 6rem;
    padding-bottom: 10rem; }
  .articles {
    margin-top: 7rem;
    margin-bottom: 2rem; }
  .article {
    max-width: 40rem;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-bottom: 10rem; }
  .main-footer {
    text-align: center; }
    .main-footer .footer-logo {
      margin-left: auto;
      margin-right: auto; }
    .main-footer .description {
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 6rem; }
  .main-features .presentation-text .presentation-inner {
    max-width: 45rem; }
  .section-intro {
    max-width: 60rem; }
  .grid .grid-item {
    display: inline-block;
    width: 33%; }
    .grid .grid-item img {
      max-width: 100%; }
  .grid .grid-item--width2 {
    width: 66%; } }

@media screen and (max-width: 767px) {
  .toggle-nav {
    display: block;
    margin-right: 1.5rem; }
  .main-header .main-nav {
    padding: 0rem;
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #d9d9d9;
    backround: rgba(217, 217, 217, 0.5);
    z-index: 9999; }
    .main-header .main-nav .main-menu {
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%); }
      .main-header .main-nav .main-menu i.fa {
        display: block;
        position: relative;
        width: 100%;
        text-align: center;
        margin-bottom: 2rem;
        font-size: 2rem; }
    .main-header .main-nav .menu-item {
      display: block;
      position: relative;
      text-align: center;
      margin-right: 0rem;
      margin-bottom: 2rem; }
    .main-header .main-nav .container {
      position: relative; }
  .main-header.menu-active .main-nav {
    display: block; }
  .hero.hero-frontpage .hero-info {
    max-width: 80%;
    margin-left: auto;
    margin-right: auto; }
  .carousel-control {
    width: 10%;
    padding-left: 1rem;
    padding-right: 1rem; }
  .grid {
    max-width: 50rem;
    margin-left: auto;
    margin-right: auto; }
    .grid .grid-item {
      display: inline-block;
      width: 50%; }
      .grid .grid-item img {
        max-width: 100%; }
    .grid .grid-item--width2 {
      width: 50%; }
  .article {
    width: 90%; } }

@media screen and (max-width: 500px) {
  .grid {
    max-width: 90%; }
    .grid .grid-item {
      width: 100%;
      margin-bottom: 3rem; } }
