//Variables
$mainfont: 'Roboto', sans-serif;

$herobg: #1e2136;
$actioncolor: #ba1516;

//General Elements
body{
    font: $mainfont;
    color: #383838;
    &.no-scroll{
        overflow: hidden;
    }
}

h1,h2,h3,h4,h5,h6,p,ul,ol,li,a,button,input{
    font-family:$mainfont;
}

p{
    font-size: 1.8rem;
}

ul, ol{
    list-style: none;
    font-family: $mainfont;
}
p{
    font-size: 1.8rem;
}

a{
    text-decoration: none;
    color: inherit;
    &:hover{
         text-decoration: none;
        color: inherit;
    }
    
}
//Navigation
.main-header{
    position: relative;
    .logo-area, .main-nav{
        display:inline-block;
        position: relative;
      
        
    }
    .logo-area{
        float:left;
        line-height: 5;
        vertical-align: middle;
    }
    .main-nav{
        padding:2.5rem 0rem;
        float:right;
        .menu-items{
            margin-bottom: 0rem;
            margin-left: 0rem;
            padding-left: 0rem;
        }
        .menu-item{
            display:inline-block;
            position: relative;
            text-transform: uppercase;
            font-size: 1.7rem;
            margin-right: 2rem;
            transition: all .5s ease;
            &:last-child{
                margin-right: 0rem;
            }
            &:hover{
                color: $actioncolor;
            }
        }
    }
}

.hero.hero-frontpage{
    text-align: center;
    display:block;
    position: relative;
    background: $herobg;
    color: white;
    .hero-info{
        padding-top: 14rem;  
        padding-bottom: 10rem;
        max-width: 60rem;
        margin-left: auto;
        margin-right: auto;
        h1{
            text-transform: uppercase;
            font-weight: 400;
            font-size: 3.6rem;
        }
        p{
            font-size: 1.6rem;
        }
        button{
            background:none;
            outline:none;
            border:1px solid white;
            border-radius: 3px;
            padding:1rem 4rem;
            margin-top: 3rem;
            font-size: 1.6rem;
            transition: all .5s ease;
            &:hover{
                background: $actioncolor;
                border-color: $actioncolor;
            }
        }
    }
}

.toggle-nav{
    display:none;
    max-width: 2rem;
    width:4rem;
    position: absolute;
    top:50%;
    cursor:pointer;
    transform: translate(-0%, -50%);
    right:0px;
    .nav-line{
        width:100%;
        height:1px;
        background:#939393;
        margin-bottom: 3px;
        width:100%;
    }
}

.close-menu{
    display:none;
    cursor:pointer;
}

.carousel-control{
    &.left, &.right{
        background-image: none;
        background:none;
        img{
            display:block;
            position: absolute;
            top:0;
            bottom:0;
            left:0;
            right:0;
            margin:auto;
        }
    }
    
}

.main-features{
    margin-top: 10rem;
    position: relative;
    .image{
        display:block;
        position: relative;
        overflow: hidden; 
        border-right: 50rem;
    }
    .main-frame{
       overflow: hidden !important;
        max-width: 90%;
        border-radius: 50rem;
        background:#d9d9d9;
        position: relative;
        &:before{
                content:'';
                padding-top:100%;
                display:block;
                background:gray;
                width:100%;
            }
        
        img{
            max-width: 100%;
            display:block;
            position: absolute;
            top:0;
            bottom:0;
            right:0;
            left:0;
            margin:auto;
            border-radius: 50rem;
            
        }
        &:hover{
            .overlay{
                margin-top: 0%;
                .overlay-inner{
                    
                }
            }
        }
    }
    .overlay{
        background:#383838;
        background:rgba(#383838, .8);
        color: white;
        text-align: center;
        display:block;
        position: absolute;
        top:0;
        left:0;
        right:0;
        bottom:0;
        margin:auto;
        transition: margin-top .5s ease;
        margin-top: 120%;
        border-radius: 50rem;
        .fa{
           font-size: 6rem; 
        }
        .overlay-inner{
            display:block;
            position: absolute;
            top:50%;
            left:50%;
            transition: color .5s ease;
            transform: translate(-50%, -50%);
            .fa{
                margin-top: 1rem;
            }
        }
    }
    .presentation-text{
        text-align: center;
        padding-top: 22rem;
        padding-bottom: 20rem;
        h1{
            text-transform: uppercase;
        }
        h3{
            font-weight: 400;
            font-style: italic;
            color: #585858;
        
        }
        p{
            margin-top: 3.5rem;
        }
        .presentation-inner{
            max-width: 100rem;
            margin-left: auto;
            margin-right: auto;
        }
        background:#d9d9d9;
        background-image: url(../img/newyork.jpg);
        background-size: cover;
        background-position: center center;
    }
}

.articles{
    margin-top: 14rem;
    margin-bottom: 15rem;
    .article-title{
        font-weight: 400;
    }
    .article-summary{
        display:block;
        position: relative;
        &:before{
            content:'';
            display:block;
            position:relative;
            width:100%;
            height:1px;
            background:#d9d9d9;
            margin-top: 1rem;
            margin-bottom: 1rem;
        }
    }
    .read-more-btn{
        background:#f10103;
        color: white;
        width:100%;
        padding:1rem 0rem;
        transition: background .5s ease;
        &:hover{
             background:$actioncolor;
        }
    }
    .date{
        .fa{
            margin-right: 1rem;
        }
    }
}

//masonry
.masonry{
    background:#ebebeb;
    padding-top: 10rem;
    padding-bottom: 10rem;
}
.grid{
    .grid-item {
        display:inline-block;
        width: 25%; 
        img{
            max-width: 100%;
        }
    }
    .grid-item--width2 { width: 50%; }

}

.section-intro{
    h2{
        text-transform: uppercase;
    }
    h4{
        font-style: italic;
        opacity: .7;
    }
    margin-bottom: 6rem;
    max-width: 70rem;
    margin-left: auto;
    margin-right: auto;
    width:90%;
}

//footer
.main-footer{ 
    background: #140e0f;
    color: white;
    padding-top:5rem;
    .footer-logo{
        max-width: 20rem; 
        margin-bottom: 3rem;
        
        img{
            max-width: 100%;
        }
    }
    .description{
        max-width: 60rem;
        p{
            opacity: .7;
            font-size: 1.6rem;
        }
    }
    .footer-copyright{
        text-align: center;
        font-weight: 400;
        font-size: 1.6rem;
        background:rgba(black,.5);
        padding:1rem 1rem;
        margin-top: 4rem;
        h4{
            opacity: .8;
            font-size: 1.4rem;
        }
    }
    .menu-title{
        opacity: .7;
    }
    .menu-items{
        padding-left: 0rem;
        margin-left: 0rem;
        .menu-item{
            line-height: 2.2;
            transition: all .5s ease;
            &:hover{
                margin-left: 1rem;
            }
        }
    }
    
 
}

//particular settings
#main-logo{
    height: 3.5rem;
}
.hero-area{
    #item1{
        
    }
    #item2{
        
    }
    #item3{
        
    }
}

//Responsive styling
@media screen and (max-width:1199px){
    .main-features .presentation-text{
        padding-top: 13rem;
        padding-bottom: 10rem;
    }
}

@media screen and (max-width:991px){
    .main-header{
        .logo-area{
            #main-logo{
                height:2.2rem;
            }
        }
        
    }
    .hero.hero-frontpage{
        .hero-info{
            padding-top:9rem;
            padding-bottom: 7rem;
            h1{
                font-size: 3.2rem;
            }
        }
    }
    .carousel-control{
        width:7%;
    }
    .presentation-images{
        .image{
            max-width: 40rem;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 7rem;
        }
        .overlay{
        }
    }
    .main-features .main-frame{
        margin-left: auto;
        margin-right: auto;
    }
    .main-features .presentation-text{
        padding-top: 6rem;
        padding-bottom: 10rem;
    }
    .articles{
       margin-top: 7rem;
        margin-bottom: 2rem;
    }
    .article{
        max-width: 40rem;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        margin-bottom: 10rem;
       
    }
    .main-footer{
        text-align: center;
        .footer-logo{
            margin-left: auto;
            margin-right: auto;
            
        }
        .description{
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 6rem;
            .menu-item{
                
            }
        }
    }
    .main-features .presentation-text .presentation-inner{
        max-width: 45rem;    
    }
    
    .section-intro{
        max-width: 60rem;
    }
    
    .grid{
        .grid-item {
            display:inline-block;
            width: 33%; 
            img{
                max-width: 100%;
            }
        }
        .grid-item--width2 { width: 66%; }

    }
}

@media screen and (max-width:767px){
    .toggle-nav{
        display:block;
        margin-right: 1.5rem;
    }
    .main-header .main-nav{
            padding:0rem;
            display:none;
            position: fixed;
            top:0;
            bottom:0;
            left:0;
            right:0;
            width:100%;
            height:100%;
            background:#d9d9d9;
            backround:rgba(#d9d9d9,.5);
            z-index: 9999;
            .main-menu{
                display:block;
                position: absolute;
                top:50%;
                left:50%;
                transform: translate(-50%, -50%);
                i.fa{
                    display:block;
                    position: relative;
                    width:100%;
                    text-align:center;
                    margin-bottom: 2rem;
                    font-size: 2rem;
                }
            } 
            .menu-item{
                display:block;
                position: relative;
                text-align: center;
                margin-right: 0rem;
                margin-bottom: 2rem;
            }
        .container{
            position: relative;
        }
    }
    .main-header.menu-active{
        .main-nav{
            display:block;
        
        }
    }
    
    .hero.hero-frontpage{
        .hero-info{
            max-width: 80%;
            margin-left: auto;
            margin-right: auto;
        }
    }
    .carousel-control{
        width:10%;
        padding-left: 1rem;
        padding-right: 1rem;
    }
    
    .grid{
        max-width: 50rem;
        margin-left: auto;
        margin-right: auto;
        .grid-item {
            display:inline-block;
            width: 50%; 
            img{
                max-width: 100%;
            }
        }
        .grid-item--width2 { width: 50%; }

    }
    .article{
        width:90%;
    }
}

@media screen and (max-width: 500px){
    .grid{
        max-width: 90%;
        .grid-item{
            width:100%;
            margin-bottom: 3rem;
        }
    }
}